---
layout: base.njk
permalink: /thanks/
title: Subscribed
description: Confirmation that your email address has been added to the list.
---
<section class="sec">
  <div class="sec__head sec__head--center">
    <p class="kicker">Done</p>
    <h1 class="sec__title">You're <em>on the list</em></h1>
    <p class="sec__sub">One email when a new place goes up, and nothing else. In the meantime there is plenty already on file.</p>
    <p style="margin-top:1.6rem"><a class="btn" href="/destinations/">Browse destinations</a></p>
  </div>
</section>
